.ticker-price {
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 3px;
}

.ticker-subscribe-unsubscribe button {
  background-color: transparent;
  border: none;
  height: 24px;
  color: var(--sl-color-gray-5);

  &:not([disabled]) {
    cursor: pointer;
    color: var(--sl-color-gray-1);
  }
}
