.hints {
  background-size: 10px 10px;
  background-image: linear-gradient(to bottom, #dcce69 1px, transparent 1px);
  border: 1px solid #59542c;
  color: #333;
  padding: 1em;
  width: 250px;
  position: relative;

  &:before {
    background-color: #f4e67e;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
